page-projetos {
    ion-navbar{
        background-color: rgba(21, 179, 171, 0.89);
    }

    .cor{
        background-color: rgba(21, 179, 171, 0.89);
    }
    .fundo{background-color: #222}
    .card-background-page{
        background-color: #222;
        border-radius: 20px;
    }
    .card{background-color:rgba(21, 179, 171, 0.89); }
}
